body{
    background-color:#F5F4EF;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border: 0px;
}
.page{
    line-height: 25px;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
.header{
    margin-top: -150px;
    margin-bottom: -100px;
    display: block;
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.content{
    display: block;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    margin-top: 9px;
    margin-bottom: 20px;
    line-height: 25px;
    --aug-border: 5px;
    --aug-border-bg:#363C3F;
    --aug-border-opacity: .75;
    --aug-b-width: 50%;
    --aug-br: 40px;
    --aug-tl: 40px;
    --aug-bl: 40px;
    --aug-r-height: 50%;
    --aug-tr: 40px;
    --aug-inset: 4px;
    --aug-inset-bg: #F5F4EF;
    --aug-inset-opacity: .85;
}
